.my-header {
    height: 60px;
    margin: -10px;
    background: #E0E0E0; /*#BDBDBD*/
    padding: 10px;
}

p {
    color: #424242; /* rgb(85, 85, 85); or #fafafa;*/
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

p, p span, p i {
    line-height: 50px;
    vertical-align: top;
}

nav {
    padding: 0;
}

.navbar-nav > li {
    float: left;
    margin: 0 5px;
}

.navbar-nav > li > a {
    color: #424242; /*#fafafa*/
}

.navbar-nav > li > a > i {
    line-height: 50px; 
}

.navbar-header {
    float: left;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-collapse ul {
    margin: 0;
}

.navbar .notifications {
    position: absolute;
    top: 18px;
    right: 42px;
    font-size: 9px;
    background: #f44336;
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
}