/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'flexboxgrid/css/flexboxgrid.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'material-design-icons/iconfont/material-icons.css';

/*general styling*/
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #FAFAFA;
}

main, header, footer, nav {
    padding: 10px;
}

h1, h2, h3, h4, p, span, ul, li {
    font-family: 'Roboto', sans-serif;
}

ul, ul li {
    list-style: none;
}

header {
    
}

footer {
    /*background: #424242;*/
}