<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <mat-card class="card">
        <mat-form-field>
            <input matInput placeholder="Name">
        </mat-form-field>
        <mat-select placeholder="Education">
            <mat-option value="">Bachelor's</mat-option>
          </mat-select>
          <mat-select placeholder="Occupation">
              <mat-option value="">Tech Support</mat-option>
            </mat-select>
        <mat-select placeholder="Race">
          <mat-option value="">Married</mat-option>
        </mat-select>
        <mat-select placeholder="Select your native country">
          <mat-option value="Mexico">Mexico</mat-option>
          <mat-option value="United States">United States</mat-option>
          <mat-option value="Cambodia">Cambodia</mat-option>
          <mat-option value="England">England</mat-option>
          <mat-option value="Puerto Rico">Puerto Rico</mat-option>
          <mat-option value="Canada">Canada</mat-option>
          <mat-option value="India">India</mat-option>
          <mat-option value="Japan">Japan</mat-option>
          <mat-option value="France">France</mat-option>
          <mat-option value="Poland">Poland</mat-option>
          <mat-option value="Ecuador">Ecuador</mat-option>
        </mat-select>
      </mat-card>
    </div>
</div>
