<div class="row">
    <div class="col-md-12">
      <mat-card class="card">
        <h2>Change your personal information</h2>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div class="row">
                  <mat-form-field class="col-md-6">
                      <input matInput placeholder="First Name">
                  </mat-form-field>
                  <mat-form-field class="col-md-6">
                      <input matInput placeholder="Last Name">
                  </mat-form-field>
              </div>
              <div class="row">
                  <p>Select genre:</p>
                  <mat-radio-group class="col-md-12">
                      <mat-radio-button value="F">Female</mat-radio-button>
                      <mat-radio-button value="M">Male</mat-radio-button>
                  </mat-radio-group>
              </div>
              <div class="row">
                <p>Select your Education level:</p>
                  <mat-select placeholder="Education" class="col-md-12">
                      <mat-option value="">Bachelor's</mat-option>
                    </mat-select>
              </div>
              <div class="row">
                <p>Select your Occupation:</p>
                  <mat-select placeholder="Occupation" class="col-md-12">
                      <mat-option value="">Tech Support</mat-option>
                    </mat-select>
              </div>
              <div class="row">
                <p>Select your race origin:</p>
                  <mat-select placeholder="Race" class="col-md-12">
                      <mat-option value="">Latin</mat-option>
                    </mat-select>
              </div>
              <div class="row">
                  <p>Select your marital status:</p>
                    <mat-select placeholder="Status" class="col-md-12">
                        <mat-option value="">Married</mat-option>
                      </mat-select>
                </div>
              <div class="row">
                  <mat-select placeholder="Select your native country" class="col-md-12">
                      <mat-option value="Mexico">Mexico</mat-option>
                      <mat-option value="United States">United States</mat-option>
                      <mat-option value="Cambodia">Cambodia</mat-option>
                      <mat-option value="England">England</mat-option>
                      <mat-option value="Puerto Rico">Puerto Rico</mat-option>
                      <mat-option value="Canada">Canada</mat-option>
                      <mat-option value="India">India</mat-option>
                      <mat-option value="Japan">Japan</mat-option>
                      <mat-option value="France">France</mat-option>
                      <mat-option value="Poland">Poland</mat-option>
                      <mat-option value="Ecuador">Ecuador</mat-option>
                    </mat-select>
              </div>
          </div>
        </div>
      </mat-card>
    </div>
</div>
