.home {
    margin: 10px 0;
}


/****temporarily disabled while implementing draggble UI*****/
/*

.draggy .circle {
    -webkit-transform: translate3d(34.4em,0,0);
    transform: translate3d(34.4em,0,0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.draggy .circle:hover{
    cursor: pointer;
}

#draggyItem1 {
    background: pink;
}

#draggyItem2 {
    background: greenyellow;
}

#draggyItem3 {
    background: purple;
}

#draggyItem4 {
    background: cyan;
}

#draggyItem5 {
    background: peru;
}

*/