<section class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row margin-bottom-only">
                  <div class="col-md-12 no-padding">
                      <mat-card class="card"></mat-card>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 no-padding padding-right">
                    <mat-card class="card"></mat-card>
                  </div>
                  <div class="col-md-6 no-padding padding-left">
                    <mat-card class="card"></mat-card>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                  <mat-card class="card">
                      <ng4-twitter-timeline [dataSrc]="{sourceType: 'profile',screenName: 'AccentureTech'}" [opts]="{tweetLimit: 2}"></ng4-twitter-timeline>
                  </mat-card>
              </div>
        </div>
      </div>
</section>