<div class="wrapper ">
  <div class="sidebar col-md-2">
    <nav class="">
      <div class="logo">
        <div class="photo">
          <img src="assets/img/Oltiva_Logo_.svg" alt="" width="50px" height="50px">
          <!--<img src="assets/img/logo-purple.png" alt="" width="50px" height="50px">-->
        </div>
        <div class="info">
            
        </div>
      </div>
      <ul>
        <li class="active">
          <a routerLink="/home"><i class="material-icons">home</i><p>Dashboard</p></a>
        </li>
        <li>
            <a routerLink="/myInformation"><i class="material-icons">settings</i><p>Settings</p></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content col-md-10">
    <header>
      <!--*ngIf user is loggedIn-->
      <my-header></my-header>
    </header>
    <main>
      <login *ngIf=></login>
      <my-information></my-information>
      <home></home>
    </main>
    <footer></footer>
  </div>
</div>