<div class="login-container" *ngIf="!userLoggedIn">
    <login></login>
</div>
<div class="wrapper " *ngIf="userLoggedIn">
  <div class="sidebar">
    <nav class="">
      <div class="logo">
        <div class="photo">
          <div id="logo-svg"></div>
          <div id="logo-hideon-expanded-sidebar"></div>
          <!--<img src="assets/img/logo-purple.png" alt="" width="50px" height="50px">-->
        </div>
        <div class="info">
            
        </div>
      </div>
      <ul>
        <li class="active">
          <a routerLink="/home"><i class="material-icons">home</i><p>Dashboard</p></a>
        </li>
        <li>
          <a href="/settings">
            <i class="material-icons">person</i>
            <p>Profile</p>
          </a>
        </li>
        <li>
            <a routerLink="/settings"><i class="material-icons">settings</i><p>Settings</p></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-10 col-md-offset-2 temp-content">
    <header>
      <!--*ngIf user is loggedIn-->
      <my-header></my-header>
    </header>
    <main>
        <router-outlet></router-outlet>
      
      <!--<my-information></my-information>
      <home></home>-->
    </main>
    <footer></footer>
  </div>
</div>